<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <title>AlgaWorks</title>

    <link rel="stylesheet" href="\src\main\resources\templates\CSS\styles.css">

</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="@{/}"> AlgaWorks Contatos </a></li>

            <li><a href="@{/contatos}"> Listar </a></li>

            <li><a href="@{/contatos/novo}"> Novo </a></li>
        </ul>
    </nav>

</header>

<main>
    <section>
        <h1>Cadastro contatos</h1>
    </section>

    <section>
        <form :action="${contato.novo} ? @{/contatos} : @{/contatos/{contato}(contato=${contato.id})}"
              :object="${contato}" :method="${contato.novo} ? post : put">

            <div :if="${!contato.novo}">
                <label>Código: </label>

                <input field="*{id}" readonly="readonly" />
            </div>

            <div>
                <label>Nome: </label>

                <input tfield="*{nome}" />
            </div>

            <div>
                <label>Telefone: </label>

                <input field="*{telefone}"/>
            </div>

            <div>
                <button>Salvar</button>
            </div>
        </form>
    </section>
</main>
</body>

</html>